/*--Body--*/
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/*--Header--*/
.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.logo-back{
    color: #2e2f42;
}
.header-menu-item{
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-link{
}
.header-menu-link:hover,
.header-menu-link:focus{
    color:#404bbf;
}
.address{ 
    font-style: normal;
}
.header-address-ul{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.header-address-ul:focus,
.header-address-ul:hover{
    color: #404bbf;
}
/*--Main--*/
/*----Section 1----*/
/*----Section 2----*/
/*----Section 3----*/
/*----Section 4----*/
/*--Footer--*/
